<div class="container">
  <input type="search" class="inputbox" list="options" #inputBox/>
  <datalist  id="options">
    <option value={{datapoint}} *ngFor="let datapoint of dataList">{{ datapoint }}</option>
  </datalist>
  <hr />
  <hr />
  <div class="content">
    <table class="dataTable">
        <tr *ngFor="let ticket of tableData">
          <td>
            {{ ticket.ticket }}
          </td>
          <td>
            {{ ticket.label }}
          </td>
          <td>
            {{ ticket.status }}
          </td>
        </tr>
      </table>
  </div>
</div>
